@charset "UTF-8";

$grey : #393c41;
$pink : #fcd2ea;
$gold : #d3bd88;

$grid-max-width : 900px;
$grid-gap : 40px;

html {
	background-color: $pink;
}

body {
	background-color: white;
	color: $grey;
	font-family: Gotham, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;

	@media screen and (max-width: 1023px) {
		font-size: 14px;
		line-height: 1.3;
	}
}

nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

header,
footer {
	nav {
		@media screen and (min-width: 1024px) {
			max-width: $grid-max-width + $grid-gap;
			margin-left: auto;
			margin-right: auto;
		}

		ul {
			display: flex;
		}

		li {
			a {
				padding: 18px ($grid-gap / 2);
				display: block;
			}
		}

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

header {
	background-color: $grey;
	padding-bottom: ($grid-gap/2);
	position: relative;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: ($grid-gap/2);
		background-color: $gold;
		background-image: url("../images/header-bar.png");
		background-position: 50% 0;
		background-repeat: repeat-x;
	}

	nav {
		background-color: $grey;
		font-size: 16px;
		line-height: 1.5;
		display: flex;
		justify-content: space-between;

		a {
			color: $pink;
		}
	}

	.logo {
		background-image: url("../images/header-bg.png");
		background-position: 45% 100%;
		background-repeat: no-repeat;
		min-height: 383px;
		background-size: cover;

		@media screen and (max-width: 1023px) {
			min-height: 200px;
		}

		a {
			display: block;
			max-width: 387px;
			margin-left: auto;
			margin-right: auto;
			transform: translateY(50%);
			// margin-top: -50%;

			@media screen and (max-width: 1023px) {
				max-width: 200px;
			}
		}

		img {
			max-width: 100%;
		}
	}

	.account {
		color: $pink;
		padding: 0 ($grid-gap/2);

		a {
			display: inline-block;
			padding: 18px 0;
		}
	}
}

main {
	@media screen and (max-width: 1023px) {
		padding: 18px ($grid-gap/2) ($grid-gap/2);
	}

	padding: 37px $grid-gap;
	max-width: $grid-max-width;
	margin-left: auto;
	margin-right: auto;

	.intro {
		min-height: 204px;
		background-image: url("../images/logo-instagram.svg");
		background-repeat: no-repeat;
		background-position: 0 50%;
		background-size: 204px auto;
		padding-left: 248px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: $grid-gap;

		@media screen and (max-width: 1023px) {
			padding-left: 0;
			margin-bottom: ($grid-gap/2);
			background: none;

			p:first-child {
				padding-left: 118px;
				background-image: url("../images/logo-instagram.svg");
				background-position: 0 50%;
				background-size: 102px auto;
				background-repeat: no-repeat;
				min-height: 102px;
			}
		}
	}

	.insta {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			@supports (display: grid) {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-gap: $grid-gap;


				@media screen and (max-width: 1023px) {
					grid-template-columns: 1fr 1fr;
					grid-gap: ($grid-gap/2);
				}
			}
		}

		a, img {
			display: block;
		}

		img {
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}
}

footer {
	background-color: $pink;

	nav {
		display: flex;
		justify-content: space-between;

		a {
			color: $grey;
		}
	}

	.yandex {
		padding: 18px ($grid-gap/2);
	}
}