html {
  background-color: #fcd2ea; }

body {
  background-color: white;
  color: #393c41;
  font-family: Gotham, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden; }
  @media screen and (max-width: 1023px) {
    body {
      font-size: 14px;
      line-height: 1.3; } }

a,
button {
  outline: none; }
  a:focus,
  button:focus {
    outline: none; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

@media screen and (min-width: 1024px) {
  header nav,
  footer nav {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto; }
    header nav ul,
    footer nav ul {
      display: flex; } }

header nav li a,
footer nav li a {
  padding: 18px 20px;
  display: block; }

header nav a,
footer nav a {
  text-decoration: none; }
  header nav a:hover,
  footer nav a:hover {
    text-decoration: underline; }

header {
  background-color: #393c41;
  padding-bottom: 20px;
  position: relative; }
  header:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    background-color: #d3bd88;
    background-image: url("../images/header-bar.png");
    background-position: 50% 0;
    background-repeat: repeat-x; }
  header nav {
    background-color: #393c41; }
    @media screen and (max-width: 1023px) {
      header nav ul {
        background-color: white;
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.66);
        position: absolute;
        width: 100%;
        max-width: 480px;
        z-index: 10;
        display: none; }
        header nav ul li + li {
          border-top: 1px solid rgba(0, 0, 0, 0.13); }
        header nav ul a {
          color: #393c41; }
      header nav .menu-toggle {
        margin-left: 5px; }
      header nav .account {
        float: right; }
        header nav .account a {
          padding: 13px 0; } }
    @media screen and (min-width: 1024px) {
      header nav {
        display: flex;
        justify-content: space-between; }
        header nav .menu-toggle {
          display: none; } }
    header nav a {
      color: #fcd2ea; }
  header .logo {
    background-image: url("../images/header-bg.png");
    background-position: 45% 100%;
    background-repeat: no-repeat;
    min-height: 383px;
    background-size: cover; }
    @media screen and (max-width: 1023px) {
      header .logo {
        min-height: 200px; } }
    header .logo a {
      display: block;
      max-width: 387px;
      margin-left: auto;
      margin-right: auto;
      transform: translateY(50%); }
      @media screen and (max-width: 1023px) {
        header .logo a {
          max-width: 200px; } }
    header .logo img {
      max-width: 100%; }
  header .account {
    color: #fcd2ea;
    padding: 0 20px; }
    header .account a {
      display: inline-block;
      padding: 18px 0; }

.menu-toggle {
  width: 45px;
  height: 45px;
  background-color: transparent;
  padding: 0;
  border: 0 none;
  display: inline-block;
  background-image: url("../images/icon-menu.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap; }
  .mobile-nav--open .menu-toggle {
    background-image: url("../images/icon-close.svg"); }
    @media screen and (max-width: 1023px) {
      .mobile-nav--open .menu-toggle + .menu {
        display: block; } }
  .menu-toggle:hover, .menu-toggle:focus {
    background-color: rgba(255, 255, 255, 0.15); }

main {
  padding: 37px 40px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 1023px) {
    main {
      padding: 18px 20px 20px; } }
  main .intro {
    min-height: 204px;
    background-image: url("../images/logo-instagram.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 204px auto;
    padding-left: 248px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px; }
    @media screen and (max-width: 1023px) {
      main .intro {
        padding-left: 0;
        margin-bottom: 20px;
        background: none; }
        main .intro p:first-child {
          padding-left: 118px;
          background-image: url("../images/logo-instagram.svg");
          background-position: 0 50%;
          background-size: 102px auto;
          background-repeat: no-repeat;
          min-height: 102px;
          display: flex;
          align-items: center; } }
  main .insta ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden; }
    @media screen and (max-width: 1023px) {
      main .insta ul {
        flex-direction: column;
        align-content: space-between; } }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
      main .insta ul {
        max-height: 700px; } }
    @media screen and (min-device-width: 414px) and (max-device-width: 736px) {
      main .insta ul {
        max-height: 800px; } }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
      main .insta ul {
        max-height: 1300px; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
      main .insta ul {
        max-height: 1500px; } }
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
      main .insta ul {
        max-height: 1600px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      main .insta ul {
        max-height: 1500px; } }
    main .insta ul li {
      flex-basis: 32%;
      padding-bottom: 2%; }
      @media screen and (max-width: 1023px) {
        main .insta ul li {
          flex-basis: auto;
          padding-bottom: 4%;
          width: 48%; } }
    @supports (display: grid) {
      main .insta ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;
        max-height: none !important;
        justify-content: initial; }
        main .insta ul li {
          padding-bottom: 0;
          flex-basis: initial;
          width: auto; }
        @media screen and (max-width: 1023px) {
          main .insta ul {
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: auto;
            grid-gap: 20px;
            grid-auto-flow: column; } } }
  main .insta a, main .insta img {
    display: block; }
  main .insta img {
    max-width: 100%;
    width: 100%;
    height: auto; }

footer {
  background-color: #fcd2ea; }
  @media screen and (max-width: 1023px) {
    footer nav {
      text-align: center; }
      footer nav ul li {
        display: inline-block; }
      footer nav .yandex {
        display: inline-block; } }
  @media screen and (min-width: 1024px) {
    footer nav {
      display: flex;
      justify-content: space-between; } }
  footer nav a {
    color: #393c41; }
  footer .yandex {
    padding: 18px 20px; }
