@charset "UTF-8";

$grey : #393c41;
$pink : #fcd2ea;
$gold : #d3bd88;

$grid-max-width : 900px;
$grid-gap : 40px;

html {
	background-color: $pink;
}

body {
	background-color: white;
	color: $grey;
	font-family: Gotham, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;

	@media screen and (max-width: 1023px) {
		font-size: 14px;
		line-height: 1.3;
	}
}

a,
button {
	outline: none;

	&:focus {
		outline: none;
	}
}

nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

header,
footer {
	nav {
		@media screen and (min-width: 1024px) {
			max-width: $grid-max-width + $grid-gap;
			margin-left: auto;
			margin-right: auto;

			ul {
				display: flex;
			}
		}

		li {
			a {
				padding: 18px ($grid-gap / 2);
				display: block;
			}
		}

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

header {
	background-color: $grey;
	padding-bottom: ($grid-gap/2);
	position: relative;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: ($grid-gap/2);
		background-color: $gold;
		background-image: url("../images/header-bar.png");
		background-position: 50% 0;
		background-repeat: repeat-x;
	}

	nav {
		background-color: $grey;

		@media screen and (max-width: 1023px) {
			ul {
				background-color: white;
				box-shadow: 0 25px 45px rgba(black,0.66);
				position: absolute;
				width: 100%;
				max-width: 480px;
				z-index: 10;
				display: none;

				li + li {
					border-top: 1px solid rgba(black,0.13);
				}

				a {
					color: $grey;
				}
			}

			.menu-toggle {
				margin-left: 5px;
			}

			.account {
				float: right;

				a {
					padding: 13px 0;
				}
			}
		}

		@media screen and (min-width: 1024px) {
			display: flex;
			justify-content: space-between;

			.menu-toggle {
				display: none;
			}
		}

		a {
			color: $pink;
		}
	}

	.logo {
		background-image: url("../images/header-bg.png");
		background-position: 45% 100%;
		background-repeat: no-repeat;
		min-height: 383px;
		background-size: cover;

		@media screen and (max-width: 1023px) {
			min-height: 200px;
		}

		a {
			display: block;
			max-width: 387px;
			margin-left: auto;
			margin-right: auto;
			transform: translateY(50%);
			// margin-top: -50%;

			@media screen and (max-width: 1023px) {
				max-width: 200px;
			}
		}

		img {
			max-width: 100%;
		}
	}

	.account {
		color: $pink;
		padding: 0 ($grid-gap/2);

		a {
			display: inline-block;
			padding: 18px 0;
		}
	}
}

.menu-toggle {
	width: 45px;
	height: 45px;
	background-color: transparent;
	padding: 0;
	border: 0 none;
	display: inline-block;
	background-image: url("../images/icon-menu.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;

	.mobile-nav--open & {
		background-image: url("../images/icon-close.svg");

		+ .menu {
			@media screen and (max-width: 1023px) {
				display: block;
			}
		}
	}

	&:hover,
	&:focus {
		background-color: rgba(white,0.15);
	}
}

main {
	@media screen and (max-width: 1023px) {
		padding: 18px ($grid-gap/2) ($grid-gap/2);
	}

	padding: 37px $grid-gap;
	max-width: $grid-max-width;
	margin-left: auto;
	margin-right: auto;

	.intro {
		min-height: 204px;
		background-image: url("../images/logo-instagram.svg");
		background-repeat: no-repeat;
		background-position: 0 50%;
		background-size: 204px auto;
		padding-left: 248px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: $grid-gap;

		@media screen and (max-width: 1023px) {
			padding-left: 0;
			margin-bottom: ($grid-gap/2);
			background: none;

			p:first-child {
				padding-left: 118px;
				background-image: url("../images/logo-instagram.svg");
				background-position: 0 50%;
				background-size: 102px auto;
				background-repeat: no-repeat;
				min-height: 102px;
				display: flex;
				align-items: center;
			}
		}
	}

	.insta {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			li {
				flex-basis: 32%;
				padding-bottom: 2%;

				@media screen and (max-width: 1023px) {
					flex-basis: 48%;
					padding-bottom: 4%;
				}
			}

			@supports (display: grid) {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-gap: $grid-gap;

				li {
					padding-bottom: 0;
				}


				@media screen and (max-width: 1023px) {
					grid-template-columns: 1fr 1fr;
					grid-gap: ($grid-gap/2);
				}
			}
		}

		a, img {
			display: block;
		}

		img {
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}
}

footer {
	background-color: $pink;

	nav {
		@media screen and (max-width: 1023px) {
			text-align: center;

			ul {
				li {
					display: inline-block;
				}
			}

			.yandex {
				display: inline-block;
			}
		}

		@media screen and (min-width: 1024px) {
			display: flex;
			justify-content: space-between;
		}

		a {
			color: $grey;
		}
	}

	.yandex {
		padding: 18px ($grid-gap/2);
	}
}